@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  //font-family: 'Sen', sans-serif;
  font-family: "Exo 2", sans-serif;
}

.basic-tc {
  color: #fff1f3;
}

.navegation-shit li:hover {
  color: #fd5c58;
  drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
}

.navegation-shit li:active {
  color: teal;
}

.access:hover {
  color: #fff1f3 !important;
}

.bullshit {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.typeof {
  color: #f9cc65;
}

.sidebar-header button {
  color: teal;
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar-header button:hover {
  font-weight: 600;
  font-size: 1.3rem;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff1f3;
  color: black;
  padding: 20px;
  border-radius: 2px;
}

.sidebar-note:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.active {
  background-color: #544e4d;
}

.inactive {
  color: rgba(100, 95, 95, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.sidebar-notes {
  height: 100%;
}

.note-title button {
  color: #fd5c58;
}

.note-title button:hover {
  font-weight: 600;
  font-size: 17px;
}

.typed-wrap {
  font-family: monospace;
  font-size: 20px;
  color: #fff1f3; /* Set the desired text color */
  text-shadow: 0 0 10px #fd5c58, 0 0 50px #fd6c80, 0 0 30px teal,
    rgba(53, 250, 211, 0.75) 0px 0px 20px; /* Set the desired glow color and blur size */
  }

.signup-container {
  position: relative;
  overflow: hidden;
}

.forms-container {
  width: 100%;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 180%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.background-video {
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
